<img src="assets/download.jfif" alt="Nature" class="responsive lower-separator">
<div class="main-div">
  <mat-card class="main">
    <mat-card-content>
      <p>
        <button mat-stroked-button color="accent" type="button" data-toggle="collapse" data-target="#lp" aria-expanded="false" aria-controls="lp">
          Leveling & Progression
        </button>
        <button style="margin-left: 10px" mat-stroked-button color="accent" type="button" data-toggle="collapse" data-target="#s" aria-expanded="false" aria-controls="s">
          Skills
        </button>
        <button style="margin-left: 10px" mat-stroked-button color="accent" type="button" data-toggle="collapse" data-target="#so" aria-expanded="false" aria-controls="so">
          Social
        </button>
        <button style="margin-left: 10px" mat-stroked-button color="accent" type="button" data-toggle="collapse" data-target="#c" aria-expanded="false" aria-controls="c">
          Collectibles
        </button>
        <button style="margin-left: 10px" mat-stroked-button color="accent" type="button" data-toggle="collapse" data-target="#m" aria-expanded="false" aria-controls="m">
          Miscellaneous
        </button>
      </p>
    </mat-card-content>
  </mat-card>
  <div class="collapse" id="lp">
    <mat-card class="main" routerLink="this-is-a-test-guide">
      <mat-card-content>
        <div class="row">
          <div class="col right text-in-tile">
            <h1>No Guides Yet</h1>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="collapse" id="s">
    <mat-card class="main" routerLink="this-is-a-test-guide">
      <mat-card-content>
        <div class="row">
          <div class="col right text-in-tile">
            <h1>No Guides Yet</h1>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="collapse" id="so">
    <mat-card class="main" routerLink="this-is-a-test-guide">
      <mat-card-content>
        <div class="row">
          <div class="col right text-in-tile">
            <h1>No Guides Yet</h1>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="collapse" id="c">
    <mat-card class="main" routerLink="this-is-a-test-guide">
      <mat-card-content>
        <div class="row">
          <div class="col right text-in-tile">
            <h1>No Guides Yet</h1>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="collapse" id="m">
    <mat-card class="main" routerLink="new-world-invasions-multiplayer-pve-experience">
      <mat-card-content>
        <div class="row">
          <div class="col right text-in-tile">
            <h1>New World Invasions Multiplayer PvE Experience</h1>
            <p>Created by: Superbia</p>
            <p>Posted: 4/13/2020</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="center">
    <div class="border-title">
      <h1 class="title" style="text-align: center">Latests Guides</h1>
    </div>
  </div>
  <mat-card class="main" routerLink="new-world-invasions-multiplayer-pve-experience">
    <mat-card-content>
      <div class="row">
        <div class="col right text-in-tile">
          <h1>New World Invasions Multiplayer PvE Experience</h1>
          <p>Created by: Superbia</p>
          <p>Posted: 4/13/2020</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
