<div class="main-div">
  <div class="center">
    <div class="border-title">
      <h1 class="title" style="text-align: center">News</h1>
    </div>
  </div>
  <h3 style="text-align: center">Get the latest news from the developers of this website.</h3>
  <mat-card class="main">
    <mat-card-content>
      <div class="row">
        <div class="col right text-in-tile">
          <h1>Game Release Delay</h1>
          <p>Created by: Superbia</p>
          <p>Posted: 4/13/2020</p>
          <br>
          <p>In light of the recent delay of New World being delays until August, we will be taking this time to further improve
              our website to make sure that players have the best tools to succeed and have fun with this game. Stay posted to make
              sure you know we are adding and how it could improve your experience.
            <br><br> Sincerely, <br>New World Hub </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="main">
    <mat-card-content>
      <div class="row">
        <div class="col right text-in-tile">
          <h1>Welcome</h1>
          <p>Created by: Superbia</p>
          <p>Posted: 4/13/2020</p>
          <br>
          <p>With great happiness I would like to say that I am very happy with all of the feedback I have recieved from the people in the New World community.
              We got tons of reassurance that this is something that people of this game will actually want. Right now on this site you can register and create
              your account on this website. Currently you can use that in the forums and create a listing for your company. We are going to try and add more guides
              as we get more information on the game(as of now it has not come out yet). We also plan to add a skill builder and integration with the item database
              to give users all the information they need to succeed in Aternum. So please know this project is very early in development and that more is coming.
              <br><br> Sincerely, <br>New World Hub </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

