<div class="main-div">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Update your post</mat-card-title>
    </mat-card-header>
    <div class="form-display">
      <form [formGroup]="updateTopicForm" (ngSubmit)="putTopic(updateTopicForm.value)" autocomplete="off" >

        <div class="form-group" *ngFor="let topics of topics">
          <div class="form-display">
            <mat-form-field color="accent" appearance="outline" style="width: 80%;">
              <mat-label>Subject</mat-label>
              <input matInput type="text" name="topicSubject" formControlName="topicSubject" autocomplete="off" [(ngModel)]="subject">
            </mat-form-field>
          </div>
          <div class="form-display">
            <mat-form-field color="accent" appearance="outline" style="width: 80%;">
              <mat-label>Content</mat-label>
              <textarea style="height: 250px;" matInput type="text" name="topicContent" formControlName="topicContent" autocomplete="off" [(ngModel)]="content"></textarea>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="accent" type="submit">Update</button>
      </form>
    </div>
  </mat-card>
</div>

