.text-in-tile {
  width: 100%;
}

.responsive {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}

.main {
  width: 70%;
  margin: 0 auto;
  margin-top: .5rem;
}

.main-div {
  justify-content: center;
  margin-top: 5rem;
  position:relative;
}

.column {
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

fa-icon {
  font-size: 5vw;
}

mat-card {
  background-color: #292929;
  outline: none;
}

mat-card-content {
  color: white;
  outline: none;
}

mat-card-content > h1 {
  text-align: center;
  font-size: 3vh;
  color: white;
}

h1 {
  font-size: 1.5em;
  margin: auto;
  width: 100%;
  color: white;
  cursor: pointer;
  outline: none;
  padding-bottom: 2vw;
  letter-spacing: .05em;
  line-height: normal;
}
p {
  font-size: 1em;
  line-height: 1.3;
  margin: auto;
  width: 100%;
  color: #d9d9d9;
  letter-spacing: .05em;
}

@media only screen and (max-width: 828px) {
  .main {
    width: 95%;
    margin: 0 auto;
    margin-top: .5rem;
  }
}
