.responsive {
  width: 100%;
  height: 50%;
  object-fit: cover;
  top: 0;
}

.responsive-topics {
  width: 5vw;
  height: 5vw;
  border-radius: 5%;
}

.guide-card {
  width: 35%;
  margin: 0 auto;
  margin-top: .5rem;
}

.column1 {
  float: left;
}

.left1 {
  width: 15%;
  text-align: center;
}

.right1 {
  margin-top: 20px;
  width: 8%;
  text-align: center;
}

.middle1 {
  width: 75%;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2em;
  font-family: 'IM Fell English', serif;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.border-title {
  width: 40%;
  margin: 0 auto;
  border-bottom: 1px solid;
  border-image: url('src/assets/hDivide1.png') 1;
  margin-bottom: 2em;
}

.center {
  justify-content: center;
  margin-top: 2em;
  position:relative;
}

fa-icon {
  font-size: 1.3rem;
}

mat-card {
  background-color: #292929;
  outline: none;
}

mat-card-content {
  color: white;
  outline: none;
  cursor: pointer;
}

mat-card-content > h1 {
  text-align: center;
  font-size: 3vh;
  color: white;
}

@media only screen and (max-width: 828px) {
  .main {
    width: 95%;
    margin: 0 auto;
    margin-top: .5rem;
  }

  .left1 {
    width: 20%;
    text-align: center;
    margin-right: 1em;
  }

  .right1 {
    margin-top: 20px;
    width: 8%;
    text-align: center;
  }

  .middle1 {
    width: 65%;
  }

  .responsive-topics {
    width: 4em;
    height: 4em;
    border-radius: 5%;
  }
}
